<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="!recipeForm.valid"
          >Save</button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="onCancel()"
          >Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input
              formControlName="name"
              id="name"
              class="form-control"
              type="text"
            >
            <p *ngIf="!recipeForm.get('name').valid">Name Invalid</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="picture">Picture Link</label>
            <input
              type="text"
              formControlName="picture"
              id="picture"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="this.recipeForm.get('picture').value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              formControlName="description"
              id="description"
              class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientControl of getIngredientData(); let i=index"
               [formGroupName]="i"
                style="margin-top:10px;">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <p *ngIf="!recipeForm.get('ingredients').valid">Name Invalid</p>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
